/* cookie.css */
#cookie-policy {
  min-width: 250px;
  background-color: #2e3842;
  color: #fff;
  text-align: left;
  font-size: 14px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
}

#cookie-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#cookie-container button {
  margin: auto;
}

#cookie-message {
  margin-right: 1rem;
  max-width: 85%;
}

@media screen and (max-width: 800px) {
  #cookie-message {
    max-width: 100%;
  }

  #cookie-container button {
    margin: 1rem auto 0;
  }

}
